let
    Data = Odbc.Query("Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=__PERF_OUT__\bulk-ace.accdb", "SELECT * FROM data")
in
    List.Sum(List.Transform(Table.ToRows(Data), List.NonNullCount))
